/********** Base styles **********/

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

div .container {
    top: 60px;
}


#header-nav {
    background-color: rgb(250,250,250);
    border-radius: 0;
    border: 0;
    overflow: hidden;
  }
  
  .navbar-brand {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-brand h1 { /* Company's name */
    font-family: 'Lora', serif; 
    color: rgb(0,0,0);
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  .navbar-brand h2 { /* Our Menu */
    color: #000;
    font-weight: bold;
    font-size: .7em;
    text-align: center;
    margin-top: 15px;
  }
  
  #nav-list {  /* #nav-list is the <ul> under the navbar section */
    margin-top: 10px;
  }
  #nav-list a { /* this is for link/glyphicon color and aligning to center */
    color: rgb(0,0,0);
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(200,200,200);
  }
  #nav-list a:hover { /* this is for changing mouse pointer when it goes over glyphicon */
    background: #E7E7E7;
  }
  #nav-list a span { /* for font options of navigation list elements */
    font-size: 1.2em;
  }
  
  p .text-center {
    margin-top: 30px;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid rgb(15,200,90);
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px; /* This is for 'Computers' message to be in the top part, to override 'float' collapsing feature */
  }


/* Simple Responsive Framework. */

.row {
    width: 100%;
}

.section1,
.section2,
.section3 {
    float: left;
    padding: 10px;
}

.content {
    background-color: #ADADAD;
    padding: 0 20px;
    color: #000;
    border: 1px solid #000;
}

#chicken {
    background-color: #EABBC1;
    color: #000;
    text-align: center;
    border: 1px solid #000;
    margin-top: 0px;
    width: 120px;
    height: 30px;
    float: right;
    font-weight: bold;
    padding-top: 5px;
}

#beef {
    background-color: #D63C3C;
    color: #fff;
    text-align: center;
    border: 1px solid #000;
    margin-top: 0px;
    width: 120px;
    height: 30px;
    float: right;
    font-weight: bold;
    padding-top: 5px;
}

#sushi {
    background-color: #FAE8A7;
    color: #000;
    text-align: center;
    border: 1px solid #000;
    margin-top: 0px;
    width: 120px;
    height: 30px;
    float: right;
    font-weight: bold;
    padding-top: 5px;
}


/********** Large devices only **********/

@media only screen and (min-width: 992px) {
    .section1,
    .section2,
    .section3 {
        display: inline-block;
        width: 33%;
    }
}


/********** Medium devices only **********/

@media only screen and (min-width:768px) and (max-width: 991px) {
    .section1,
    .section2,
    .section3 {
        display: inline-block;
    }
    .section1,
    .section2 {
        width: 50%;
    }
    .section3 {
        width: 100%;
    }
}


/********** Mobil devices only **********/

@media only screen and (max-width: 767px) {
    .section1,
    .section2,
    .section3 {
        display: inline-block;
        width: 100%;
    }
}
